.card {
  width: 550px;
  background-color: #000;
  height: 700px;
  border-radius: 1rem;
  padding: 2rem;
  margin: 1rem;
}

@media only screen and (max-width: 620px) {
  .card {
    width: 90vw;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media only screen and (max-height: 670px) {
  .card {
    height: 650px;
  }
}
