.title {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.back_button {
  display: block;
  margin: 3rem auto 1rem auto;
  width: 55%;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background-color: #000;
  color: white;
  border: 2px solid transparent;
}

.back_button:hover {
  border: 2px solid #000;
  background-color: transparent;
}
