@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Noto Sans Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #fd6585 10%, #0d25b9 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
